.mainContainer {
    width: 100%;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: normal;

    color: var(--main-black);
}
.label {
    min-width: 220px;
    display: flex;
    align-items: center;
    grid-area: label;

    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: normal;

    color: var(--main-black);
}
.eventImg{
    display: flex;
    flex-direction: row;
}
.uploadContainer {
    display: flex;
    flex-direction: row;
}
.picturesContainer {
    display: flex;
    margin: 24px 0 24px 0;
}
