.linkContainer {
    display: flex;
    flex-direction: row;
}
.mainInput {
    width: 100%;

    grid-area: select;
    padding: 15px;

    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: normal;

    color: var(--main-blue);

    border: 1px solid var(--main-dark-grey);
    border-radius: 5px;

    box-sizing: content-box;
    appearance: none;
}
.icon {
    display: flex;
    justify-content: flex-end;
}
.deliteIcon {
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    border-radius: 50%;
}
.mainContainer {
    display: flex;
    flex-direction: column;
}
.label {
    min-width: 220px;
    display: flex;
    align-items: center;
    grid-area: label;

    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: normal;

    color: var(--main-black);
}
.inputContainer {
    display: grid;
    grid-template-areas: "label select"
                         ". options";
    grid-template-columns: 1fr 4fr;
    margin: 24px 0 24px 0;
}

.inputContainer p {
    display: flex;
    align-items: center;
    max-width: 140px;
    min-width: 140px;
    padding-right: 50px;
}
