
.ant-scrolling-effect{
  width: 100% !important;
  /*
    overflow: visible !important
  */
}


.navbar {
  border-radius: 0;
}

.ant-scrolling-effect{
  width: 100% !important;
  /*
    overflow: visible !important
  */
}


