.mainContainer {
    width: 100%;
    height: 5px;
    border-radius: 15px;
    background-color: var(--main-light-grey);
    overflow: hidden;
}

.barBackground {
    height: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--main-dark-grey);
    transition: all ease-in .1s;
}

.barBackgroundComplete {
    background-color: var(--main-blue);
}